.dailyData {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.dailyDataContainer {
  background-color: rgba(5, 33, 86, 0.25);
  padding: 10px;
  width: 100%;
  margin: 10px;
}

.dailyDataContainer:hover {
  transform: scale(1.05);
  transition: transform 1s;
  cursor: pointer;
}
